
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

.color1{
	color: #6096B4
}

.color2{
	color: #93BFCF
}

.color3{
	color: #BDCDD6
}

.color4{
	color: #EEE9DA
}

.color5{
	color:#F9F7F7
}
.color6{
	color:#DBE2EF
}
.color7{
	color:#3F72AF
}
.color8{
	color:#112D4E
}
.color9{
	color:#9CB4CC
}

.body{
	background-color:#6096B4;
	overflow-x: hidden;
}
@media (min-width: 600px){
	.logo{
		font-size: 15px;
		font-weight: bold;
	}
}
@media (min-width: 1024px){
	.logo{
		font-size: 45px;
		font-weight: bold;
	}
	.chat{
		.chatContainer{
			height: 92.5%;
		}
		.friends{
			height: 92.5%;
		}
	}
}
@media (min-width: 1200px){
	.logo{
		font-size: 45px;
		font-weight: bold;
	}
	.chat{
		.chatContainer{
			height: 92%;
		}
		.friends{
			height: 92%;
		}
	}
}
@media  (min-width: 1500){
	.chat{
		.chatContainer{
			height: 100%;
		}
		.friends{
			height: 100%;
		}
	}
}

.navbar{
	height: 25%;
	background-color: #6096B4;
	color: #EEE9DA;
	display: flex;
	align-items: center;
	justify-content: space-around;
	.logo{
		margin-top: 20px;
		font-size: 30px;
		font-weight: bold;
	}
	.list{
		display: flex;
		list-style: none;

		.pItem{
			margin-top: 20px;
			font-weight: 500;
			background: transparent;
			font-size: 1.1em;
			cursor:default;
		}
		.iconItem{
			margin-top: 10px;
			margin-left: 20px;
			cursor: pointer;
			.avatar{
				width: 38px;
				height: 38px;
				border-radius: 50%;
				object-fit: cover;
			}
		}
		.navbarPopUp{
			display: flex;
			position: absolute;
			flex-direction: column;
			width: 300px;
			height: 100px;
			margin-left: -50px;
			background-color: rgba(255, 255, 255, 0.532);
			border-radius: 16px;
			top: 50px;
			color: #112D4E;
			// justify-content: center;
			padding-top: 10px;
			align-items: center;
			padding: 20px;
			.popUpList{
				display: flex;
				width: 100%;
				.popUpListLi{
					display: flex;
					width: 100%;
					justify-content:space-between;
					margin: 10px;
					img{
						width: 24px;
						height: 24px;
						margin-left: 20px;
						cursor: pointer;
					}
				}
			}
		}
		.link{
			color: inherit;
			text-decoration: none;
		}
		.listItem{
			margin-top: 20px;
			position: relative;
			font-size: 1.1em;
			text-decoration: none;
			font-weight: 500;
			margin-left: 20px;
			cursor: pointer;

		}
		.listItem::after{
			content: '';
			position: absolute;
			left: 0;
			bottom: -6px;
			width: 100%;
			height: 3px;
			background-color: #112D4E;
			border-radius: 5px;
			transform: scaleX(0);
			transform-origin: left;
			transition: transform .5s;
		}

		.listItem:hover{
			color:#112D4E;

		}

		.listItem:hover::after{
			transform-origin: right;
			transform: scaleX(1);
		}

	}
}





.link{
	color: inherit;
	text-decoration: none;
}

.login{
	height: calc(100vh - 50px);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px;
	margin: 0px;
}
.login-left{
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 50%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	/* background-image:url("../src/images/pong.jpeg") ;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%; */
}
.login-img-div{
	background: linear-gradient(0deg, #330212,#6096B4);
	height: 100%;
	width: 100%;
	z-index: 0;
	mix-blend-mode:luminosity;
	justify-content: center;
	align-items: center;
	display: flex;
}
.login-img{
	width: 100%;
	height: 100%;
	z-index: 0;
}
.login-span-div{
	justify-content: center;
	align-items: center;
}
.login-span{
	color:#112D4E;
	font-weight: 800;
	font-size: xx-large;
	text-align: center;
}
.login-mid{
	height: 100%;

}
.login-right{
	background: linear-gradient(359deg, #112D4E,#6096B4);
	width: 50%;
	height: 100%;
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
}

.wrapper{
	width: 260px;
	height: 180px;
	border-radius: 10px;
	box-shadow: rgba(7, 7, 14, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.514) 0px 18px 36px -18px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #112D4E;
	background-color: #9CB4CC;
}
.loginH1{
	position: absolute;
	top:45%;
	left: 40%;
	color: #112D4E;
	transform: translate(-30%, -50%);
	z-index: 1;
}

.loginButton{
	height: 40px;;
	padding: 15px 25px;
	border-radius: 5px;
	border: 5px;
	color: black;
	background-color: white;
	font-weight: bold;
	align-items: center;
	display: flex;
	cursor: pointer;
}

.icon{
	width: 40px;
	height: 40px;
}

.home{
	width: 100%;
	height: calc(100vh - 56px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-container{
	height: 80px;
	width: 500px;
	background-color:aqua;

}

.form{
	border-radius: 30px;
	width: 30vh;
	height: 35vh;
	background-color: #F5EFE6;
	color: #112D4E;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.formInput{
	border: none;
	width: 70%;

}

.formImage{
	width: 42px;
	height: 42px;
}

.formHeader{
	flex: 1;
	margin-top: 20px;
}
.formBody{
	flex: 2;
}

.formDiv{
	height: 35px;
	margin-bottom: 30px;
	background-color: white;
}

.homeForm{
	margin-top: 5px;
	font-weight: 800;
}

.containerHome{
	height: 80vh;
	background-color: #112D4E;
	display: flex;
	justify-content: center;
	align-items: center;
}
.profileBody{
	height: calc(100vh - 60px);
	display: flex;
	justify-content: center;
	align-items: center;
	.profileForm{
		border-radius: 30px;
		width: 30vh;
		height: 35vh;
		background-color: #F5EFE6;
		color: #112D4E;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
		.formInput{
			border: none;
			width: 70%;

		}
		.formImage{
			width: 42px;
			height: 42px;
		}
		.profileFormHeader{
			flex: 1;
			margin-top: 20px;
		}
		.profileFormBody{
			flex: 2;
		}

		.profileFormDiv{
			height: 35px;
			margin-bottom: 30px;
			background-color: white;
		}

		.profileFormH2{
			margin-top: 5px;
			font-weight: 800;
		}
	}
}




.profile{
	height: calc(100vh - 56px);
	display: block;
	padding-top: 100px;
	.profileH1{
		display: flex;
		justify-content: center;
		padding-bottom: 80px;
	}
	.profileContainer{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 800px;
		.pTopBlock{
			height: 100px;
			width: 500px;
			display: flex;
			justify-content: center;
			.pTopBlockImage{
				width: 200px;
				height: 200px;
				border-radius: 50%;
				overflow: hidden;
				border: 5px  solid #6096B4;
				margin-top: 2%;
				margin-bottom: -30%;
				z-index: 1;
			}
		}
		.pBottomBlock{
			box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 700px;
			width: 900px;
			background-color: #3F72AF;
			overflow: hidden;
			padding: 20px;
			border-radius: 50px;
			z-index: 0;
			.pIconBlock{
				width: 100%;
				display: flex;
				padding-right: 20%;
				padding-bottom: 5%;
				justify-content: end;
				.pIconBlockPosition{
					display: flex;
					align-items: center;
					justify-content: space-between;
					.settingIcon{
						padding-right: 15px;
						cursor: pointer;
						.setting{
							width: 42px;
							height: 42px;
							user-select: none;
						}
					}
					.toogleContainer{
						text-align: center;
						display: flex;
						justify-content: center;
						#toogle{display: none;}
						.toogle-checkbox{
							width: 90px;
							height: 32px;
							background-color: white;
							position: relative;
						}
						.toogle-p-Div{
							display: flex;
							padding-top: 8px;
							justify-content: center;
							.toogle-p{
								font-weight: bold;
								font-size: small;
							}
						}
						.toogle-label{
							display: inline-block;
							width: 64px;
							height: 32px;
							background-color: #ccc;
							border-radius: 20px;
							position: relative;
							cursor: pointer;
						}
						.toogle-label::before{
							content: "";
							position: absolute;
							top: 1px;
							left: 1px;
							width: 30px;
							height: 30px;
							background-color: white;
							border-radius: 50%;
							transition: transform 0.3s;
						}
						#toogle:checked + .toogle-label{
							background-color: #112D4E;
						}
						#toogle:checked + .toogle-label::before{
							transform:  translateX(24px);
							left: 8px;
						}
					}
				}
			}
			.pValueBlock{
				display: flex;
				.leftBlock{
					width: 40%;
					padding-left: 20px;
					padding-right: 20px;
					.pRowBlock{
						margin-bottom: 20px;
						font-weight: 700;
						width: 500px;
					}
				}
				.rightBlock{
					padding-left: 50px;
					width: 40%;
					.pRowBlock{
						margin-bottom: 20px;
						font-weight: 500;
					}
				}
			}
		}
	}
}



.leaderBoard{
	height: calc(100vh - 1em);
	display: block;
	overflow-x: hidden;
	.lBh1{
		justify-content: center;
		display: flex;
		user-select: none;
	}
	.lBblock{
		justify-content: center;
		display: flex;
		margin-top: 3%;
		.itemIcon{
			margin-left: 3%;
			cursor: pointer;
			align-items: center;
			display: flex;
		}
		.item1{
			display: flex;
			align-items: center;
			margin-left: 5%;
			.lBH3{
				margin: 3px;
				display: -webkit-inline-box;
			}

			.lBImage{
				width: 50px;
				height: 50px;
				border-radius: 50px;

			}
			.info{
				padding: .2em;
				margin-bottom: 1.4em;
				.lBH3{
					margin: 3px;
					display: -webkit-inline-box;
				}
				.lBSpan{
					margin-left: -5px;
					margin-bottom: -35px;
					display: block;
				}
			}

		}.itemIcon{
			margin-left: 3%;
		}
		.item2{
			display: flex;
			align-items: center;
			.lBItemImage{
				height: 15px;
				width: 15px;
			}

			.itemSpan{
				font-weight: 500;
				font-size: larger;
				margin-top: 5px;
				margin: 30px;
			}

			.valueSpan{
				display: flex;
				margin-left: 32px;
				font-weight: 300;
				font-size: large;
			}
		}
	}
}

.chat{
	height: calc(100vh - 97px);
	justify-content: center;
	display: flex;
	margin-top: 40px;
	.chatContainer{
		width: 65%;
		height: calc(100% - 100px);
		border: 1px solid white;
		border-radius: 10px;
		display: flex;
		overflow: hidden;
		.sidebar{
			width: 20%;
			background-color: #3F72AF;
			.sidebarNav{
				display: flex;
				align-items: center;
				background-color: #112D4E;
				height: 50px;
				padding: 10px;
				justify-content: space-between;
				color:#93BFCF;
				.messageBoxIcon{
					display: flex;
					gap: 10px;
					.messageBoxIconImage{
						height: 32px;
						width: 32px;
						cursor: pointer;
					}
				}
				.channelCreate{
					position:fixed;
					display: flex;
					top: 50%;
					left: 42%;
					transform: translate(-50%, -50%);
					background-color: #112d4eea;
					color: #6096B4;
					padding: 20px;
					box-shadow: 2px 4px 1px 1px rgba(0, 0, 0, 0.2);
					border-radius: 25px;
					width: 400px;
					height: 400px;
					align-items: center;
					justify-content: center;
					z-index: 2;
					.channelCreateX{
						display: flex;
						direction: rtl;
						button{
							height: 50px;
							width: 50px;
							color: #6096B4;
							background-color: #1a4371;
							border-radius: 10px;
							border: 1px solid #112D4E;
						}
					}
					.channelCreateBody{
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						.channelForm{
							display: flex;
							flex-direction: row;
							align-items: center;
							margin: 10px;
							.channelFormLeft{
								margin: 10px;
								.channelFormLabel{
									height: 30px;
									margin: 10px;
								}
							}
							.channelFormRight{
								margin: 10px;
								input{
									height: 30px;
									width: 150px;
									background-color: transparent;
									margin: 10px;
									color: #6096B4;
									outline: none;
									border: none;
									border-bottom: 3px solid #112D4E;
									font-size: medium;
								}
							
							}
						}
						button{
							align-self: center;
							height: 40px;
							width: 150px;
							color: #6096B4;
							background-color: #1a4371;
							border-radius: 10px;
							border: 1px solid #112D4E;
						}
					}
				}
				.sidebarLogo{
					font-weight: bolder;
				}
			}
			.chatSearch{
				.searchForm{
					padding: 10px;
					.searchInput{
						background-color: transparent;
						border: none;
						color: white;
						outline: none;
						&::placeholder{
							color: lightgray;
						}
					}
				}
				.userChat{
					border-bottom: 1px solid gray;
					padding: 10px;
					display: flex;
					align-items: center;
					gap: 10px;
					color: white;
					width: 100%;
					.userChatChannel{
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: space-between;
						.userChatInfo{
							font-weight: bold;
							display: flex;
							align-items: center;
							.chatInfoSpan{
								padding: 5%;
							}
							.searchChatImage{
								width: 50px;
								height: 50px;
								border-radius: 50%;
								object-fit: cover;
							}
						}
						.leaveChatXButton{
							width: 24px;
							height: 24px;
							align-items: center;
							display: flex;
							padding: 5px;
							img{
								height: 32px;
								width: 32px;
							}
						}
					}&:hover{
						background-color: #1a4371;
					}

					.channelPopUp{
						position: fixed;
						width: 250px;
						height: 250px;
						margin-left: -330px;
						margin-top: -35px;
						background-color:#dbe2efe8;
						border-radius: 25px;
						color: #112D4E;
						justify-content: center;
						padding: 15px;
						text-align: center;
						border: 1px solid #ccc;
						box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
						span{
							margin-top: 5px;
							margin-left: 10px;
							padding-left: 10px;
						}
					  .groupOnePerson{
						background-color: #6096B4;
						margin-top: 10px;
						padding: 5px;
						display: flex;
						justify-content: space-between;
						gap: 10px;
						border-radius: 5px;
						img{
							width: 48px;
							height: 48px;
							border-radius: 50%;
						}
						.groupOnePersonIcons{
							.channelPopUpIcon{
								width: 24px;
								height: 24px;
								gap: 10px;
							}
						}
					}
					.groupOnePersonNick{
						padding-top: 15px;
						font-weight: 600;
					}
					.groupName{
						font-weight: 900;
						margin-bottom: 30px;
						justify-content: center;
					}
					.settingGroup{
						width: 32px;
						height: 32px;
					}
					.channelPageUp{
						justify-content: space-between;
						display: flex;
					}
					}
				}
			}
		}
		.mainBox{
			width: 60%;
			height: calc(100vh - 310px);
			.messageBox{
				.messageBoxInfo{
					height: 50px;
					background-color: #9CB4CC;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 10px;
					color: #3F72AF;
					font-weight: bold;
					font-size: large;
				}
				.messages{
					background-color:#DBE2EF;
					padding: 10px;
					height:calc(100vh - 300px);
					overflow-y: scroll;
					.message{
						display: flex;
						gap: 20px;
						margin-bottom: 20px;
						.messageInfo{
							display: flex;
							flex-direction: column;
							color: gray;
							font-weight: 300;
							.mImg{
								width: 40px;
								height: 40px;
								border-radius: 50%;
								object-fit: cover;
							}
						}
						.messageContent{
							max-width: 80%;
							display: flex;
							flex-direction: column;
							gap: 10px;
							.messageP{
								background-color: white;
								padding: 10px 20px;
								border-radius: 0px 10px 10px 10px;
								max-width: max-content;
							}
							.mIImg{
								width: 50%;
							}
						}
						&.owner{
							flex-direction: row-reverse;
							.messageContent{
								align-items: flex-end;
								.messageP{
									background-color: #6096B4;
									color: white;
									border-radius: 10px 0px 10px 10px;
								}
							}
						}
					}
				}
			}
			.messageBoxInput{
				background-color: white;
				height: 50px;
				padding: 10px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.input{
					width: 100%;
					border: none;
					outline: none;
					color: #112D4E;
					font-size: 18px;
					&::placeholder{
						color: lightslategray;
					}
				}
				.send{
					display: flex;
					align-items: center;
					gap: 10px;
					.mBImg{
						height: 24px;
						cursor: pointer;
					}
					.mBBtn{
						border: none;
						border-radius: 5px;
						width: 56px;
						height: 42px;
						background-color: #3f71afe9;
						cursor: pointer;
					}
					.sendImage{
						width: 48px;
						height: 32px;
						box-shadow: 1px rgba(0, 0, 0, 0.9);
						// background-color: #b0bce151;
					}
				}
			}
		}
	}
	.friends{
		width: 15%;
		height: calc(100% - 100px);
		margin-left: 1%;
		border: 1px solid white;
		border-radius: 10px;
		display: flex;
		overflow: hidden;
		.friendContainer{
			width: 100%;
			.friendsMain{
				width:100%;
				height: 100%;
				background-color:#3F72AF ;
				.friendSearchForm{
					padding: 10px;
					display: flex;
					justify-content: space-around;
					.searchInput{
						background-color: transparent;
						font-size: medium;
						border: none;
						color: white;
						outline: none;
						&::placeholder{
							color: lightgray;
						}
					}
					.searchButton{
						background-color:transparent;
						img{
							width: 32px;
							height: 32px;
						}
					}
				}
					.friendOnePerson > div:first-child{
						text-align: left;
					}
					.friendOnePerson{
						padding: 10px;
						height: 50px;
						display: flex;
						align-items: center;
						justify-content: space-between;
						.friendIcons{
							text-align: right;
						}
						img{
							height: 32px;
							width: 32px;
							margin: 1px;
							padding: 2px;
						}
					}:hover{
						background-color: #1a4371;
					}
			}
			.sidebarNav{
				display: flex;
				align-items: center;
				background-color: #112D4E;
				height: 50px;
				padding: 10px;
				justify-content: space-between;
				color:#93BFCF;
				.sidebarLogo{
					font-weight: bolder;
				}
			}
		}

	}
}
.channelSetting{
	position:absolute;
	top: 50%;
	left: 42%;
	transform: translate(-50%, -50%);
	background-color: #6097b4f6;
	padding: 20px;
	box-shadow: 2px 4px 1px 1px rgba(0, 0, 0, 0.2);
	display: flex;
	border-radius: 25px;
	width: 300px;
	height: 100%;
	align-items: center;
	justify-content: center;
	z-index: 2;
	.channelSettingX{
		display: flex;
		direction: rtl;
		button{
			height: 24px;
			width: 24px;
		}
	}
	.channelSettingForm{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 10px;
		input{
			height: 30px;
			width: 150px;
			margin-top: 10px;
		}
		label{
			// margin-top: 10px;
			// margin-bottom: 50px;
			height: 50px;
		}
	}
	button{
		align-self: center;
		height: 50px;
		width: 100px;
	}
}
.tfa_visible{
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 56px);
}

.tfa-block{
	margin-top: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tfa-container{
	background-color: #9CB4CC;
	width: 500px;
	height: 500px;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	margin: 10px;
	border-radius: 20px;
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
}
.x-div{
	display: flex;
	justify-content: right;
	width: 80%;
}
.x-button{
	background-color: #9CB4CC;
	border: none;
	font-size: x-large;
	cursor: pointer;
}

.open-tfa{
	visibility: visible;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
}

.tfa-item{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	flex-basis: 100px;
	width: 100%;
	height: 60px;
}
.tfa-h1{
	margin-top: 10px;
	padding: 10px;
}
.tfa-p{
	padding-bottom: 20px;
}
.tfa-img{
	width: 178px;
	height: 178px;
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.1);
	gap: 10px;
	border-radius: 10px;
}
.tfa-input{
	width: 130px;
	height: 30px;
	background-color: #9CB4CC;
	border: none;
	border-bottom: 2px solid #3F72AF;
	outline: none;
	font-size: 1.4em;
	margin: 10px;
	text-align: center;
}
.tfa-button{
	width: 60px;
	height: 30px;
	margin: 5px;
	margin-bottom: 15px;
	background-color: #8ca1b6;
	box-shadow: 2px 5px 20px 1px rgba(0,0,0,0.1);
	border-radius: 5px;
}

.toggle-switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }

  .toggle-switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }

  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	border-radius: 34px;
	transition: 0.4s;
  }

  .slider:before {
	content: '';
	position: absolute;
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	border-radius: 50%;
	transition: 0.4s;
  }

  input:checked + .slider {
	background-color: #2196F3;
  }

  input:checked + .slider:before {
	transform: translateX(26px);
  }

  /* On state label */
  .on-label {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	font-size: 14px;
	color: white;
	display: none;
  }

  input:checked + .slider + .on-label {
	display: block;
  }

  /* Off state label */
  .off-label {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	font-size: 14px;
	color: #555;
  }

  input:checked + .slider + .on-label + .off-label {
	display: none;
  }
.PlayButton{
	height: 50px;;
	padding: 15px 30px;
	border-radius: 5px;
	border: 5px;
	color: white;
	background-color: rgb(30, 149, 61);
	font-weight: bold;
	font-family:monospace;
	font-size:xx-large;
	align-items: center;
	display: flex;
	cursor: pointer;
}
