*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
main
{
	
	width: 100%;
}

.circle
{
	position: absolute;
	bottom: 0;
	width: 20px;
	aspect-ratio: 1/1;
	background: #DBE2EF;
	box-shadow: 0 0 10px #DBE2EF,
	0 0 20px #DBE2EF,
	0 0 30px #DBE2EF,
	0 0 50px #DBE2EF;
	border-radius:  50%;
	animation: animate 5s linear forwards;	
}

.circle::before
{
	content: '';
	position:absolute;
	top: 100%;
	left: 25%;
	width: 50%;
	height: 100vh;
	opacity: 0.5s;
	background: linear-gradient(#DBE2EF,transparent);
}

@keyframes animate
{
	0%
	{
		transform: translateY(0);
		opacity: 1;
	}
	50%
	{
		opacity: 1;
	}
	100%
	{
		transform: translateY(-100vh);
		opacity: 0;
	}
}

header 
{
	position: fixed;
	height: 100px;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px, 100px;
	display: flex;
	background: #112D4E;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
}

.first
{
	display: flex;
}
.second
{
	display: none;
}

.logo
{
	font-size: 3em;
	color: #F5EFE6;
	user-select: none;
	text-decoration: none;
	font-weight: 500;
	margin-left: 40px;

}
body::-webkit-scrollbar
{
	display: none;
}

body
{
	width: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #112D4E;
}
.navigation-button
{
	width: 80px;
	height: 80px;
	background: transparent;
	border: 2px, solid #DBE2EF;
	outline: none; 
	border-radius: 50px;
	cursor: pointer;
	font-size:1.1em;
	color: #F5EFE6;
	font-weight: 500;
	margin-left: 40px;
	margin-right: 40px;
	transition: .5s;
}
.navigation-button:hover
{
	background: #DBE2EF;
	color:#112D4E;
}
.navigation-a
{
	position: relative;
	font-size: 1.1em;
	color: #DBE2EF;
	text-decoration: none;
	font-weight: 500;
	margin-left: 40px;
	margin-right: 40px;
}
.navigation-a::after
{
	content: '';
	position: absolute;
	left: 0;

	bottom: -6px;
	width: 100%;
	height: 3px;
	background-color: #DBE2EF;
	border-radius: 5px;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform .5s;
}
.navigation-a:hover
{
	color:#DBE2EF;
}

.navigation-a:hover::after
{
	transform-origin: right;
	transform: scaleX(1);
}
section
{
	height: 100vh;
	width: 100% !important;
	background: #112D4E;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-container
{
	position: relative;
	width: 400px;
	height: 440px;
	display: flex;
	color: #F5EFE6;
	background: #DBE2EF;
	border-radius: 2px, solid rgba(255,255,255,.5);
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	text-align: center;
}
.login-container h1
{
	font-size: 2em;
	color: #112D4E;
	text-align: center;
}
.login-container .form
{
	width: 100%;
	padding: 40px;
}

label
{
	color: #112D4E;
	user-select: none;
}
.login-container input {
	position: relative;
	width: 100%;
	height: 50px;
	padding: 10px;
	margin: 10px 0;
	border-bottom: 2px, solid;
	border: 1px solid #cccccc5a;
	border-radius: 5px;
}
.login-container button {
	background-color: #112D4E;
	color: #DBE2EF;
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
	cursor:pointer;
	user-select: none;
}
h1 {
	color: #333;
	user-select: none;
}
.p {
	color: #666;
	line-height: 1.6;
}
/* section:nth-child(2)
{
	display: none;
} */
/* section:nth-child(3)
{
	display: none;
}
section:nth-child(4)
{
	display: none;
} */

.home-main{
	display: flex;
	
}

.home-container {
	align-items: center;
	height: 100vh;
	width: 100%;
	padding-top: 100px;

	/* İçeriği başlangıçta gizle */
}



.home-container h2
{
	color: #000;
	text-align: center;
}

.home-chat
{
	width: 25%;
	border-radius: 10px;
	height: 100vh;
	background: rgba(red, green, blue, .1);
	backdrop-filter: blur(20px);
}
.home-header
{
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	background-color:#F5EFE6;
	padding: 10px;
	height: 40px;
	width: 100%;
	flex-direction: column;
	display: flex;
	border: #000;
	border-radius: 50px;
}

.home-header h1
{
	color:#112D4E;
}
.home-body
{
	flex: 1;
	color:white;
	padding: 20px 30px;
	height: 81%;
}

.message
{
	padding:10px;
	width: fit-content;
	background-color: #0b3c74;
	color:#F5EFE6;
	border-radius: 10px;
	margin-bottom: 15px;
}
.message-user
{
	background-color: #2b65ab;
	color:#F5EFE6;
	margin-left: auto;
	border-radius: 10px;
	width: fit-content;
	padding: 10px;
}

.home-footer
{
	display: flex;
}


.homechat-input
{
	padding: 0;
	width: 100%;
	height: 80vh;
	border-radius: 5px;
	background:blue;
}
.chat-input
{
	height: 10vh;
	width: 100%;
	border-radius: 5px;
	flex: 1;
	height: 40px;
	border: none;
	padding-left: 5px;
	outline:none;
}
.home-footer button
{
	width: 100px;
	height: 50px;
	border: none;
	outline: none;
	background-color: #040b13;
	color: white;
	cursor: pointer;
}

.home-game
{
	width: 80%;

	background: #F9F7F7;
	border-radius: 20px;
}

.homegame-label
{
	width: inherit;
	justify-content: center;
	align-items: center;
}

.home-list
{
	width: 20%;
	height: 92vh;
	background-color: aquamarine;
	border-radius: 20px;
}

.homelist-label
{
	width:inherit;
}

.home-container.active {
	padding: 0; /*İçeriği görünür yap*/
} 

.login-container.pasive{
	display: none;
}
.leaderboard-container
{
	height: 100vh;
	margin: 2px, auto;
	padding-top: 100px;
	width: 100%;
	border-radius: 30px;
}
.leaderboard-container.active
{
	display:block;
}
.profil-container.active
{
	display:block;
}
.leaderboard-header
{
	height: 10vh;
	width: 100%;
	display: flex;
}
.leaderboard-main
{
	height: 90vh;
	width: 100%;
	display: flex;
}

.profil-container
{
	height: 100vh;
	margin: 2px, auto;
	padding-top: 100px;
	width: 100%;
}